@page "/todo"
@inject IDialogService DialogService

<h3>ToDoList</h3>
<head>
</head>
<div>

<h1>todos</h1>
<form id="form" @onsubmit=AddTask autocomplete="off">

    <input type="text" @bind="@task" class="input" id="input" placeholder="Enter your todo">
    <button type="button"  @onclick="AddTask" class="btn btn-primary"> Add task</button>

    <ul class="todos" id="todos"></ul>
    
</form>
<br>
</div>

<div id="topcorner">
<h2>The tasks are:</h2>
<ol>
    @{
        foreach (var item in tasks)
        {
            <li>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="() => DeleteTask(item)" aria-label="delete"></MudIconButton>
                 @item.Text <input type="checkbox">
            </li>
        }
    }
</ol>

</div>
@code {
    string? task = null;
    List<Todo> tasks = new List<Todo>();
    int nrOfTasks = 0;

    void AddTask()
    {
        if (task!=null && !task.All(c => c.Equals(' ')))
        tasks.Add(new Todo { Text = task, Id = nrOfTasks++ });
        task = null;

    }

    private void DeleteTask(Todo item)
    {
        tasks.Remove(item);
    }
}
