@page "/todo"


<h3>ToDoList</h3>
<head>
</head>

<h1>todos</h1>
<form id="form" @onsubmit=AddTask autocomplete="off">

    <input type="text" @bind="@task" class="input" id="input" placeholder="Enter your todo">
    <button type="button"  @onclick="AddTask" class="btn btn-primary"> Add task</button>

    <ul class="todos" id="todos"></ul>
    
</form>
<br>
<h2>The tasks are:</h2>
<ol>
    @{
        foreach (var item in tasks)
        {
            <li>
                <button class="btn" @onclick="DeleteTask"><i class="fa fa-trash"></i></button> @item.Text <input type="checkbox">
            </li>
        }
    }
</ol>


@code {
    string? task = null;
    List<Todo> tasks = new List<Todo>();
    int nrOfTasks = 0;

    void AddTask()
    {
        tasks.Add(new Todo { Text = task, Id = nrOfTasks++ });
        task = null;

    }
    void DeleteTask()
    {
        task.Remove(0);
    }
}
